div#logo-buttons {
    z-index: 4300;
    background-color: white;
    width: 100%;
    position: fixed;
    bottom: -1px;
}

@media (max-width: 575px) {
    div#logo-buttons {
        padding-bottom: 2px;
    }
}

@media (min-width: 576px) {
    div#logo-buttons {
        padding-bottom: 4px;
    }
}

.fa-twitter, .fa-facebook {
    background-color: none;
    color: #bd7df9;
    cursor: pointer;
    float: right;
    margin: 5px 10px 0 0;
}

#intro {
    padding-top: 2.5vh;
}

.no-right-gutter > [class*='col-'] {
    padding-right:0 !important;
}

.no-left-gutter > [class*='col-'] {
    padding-left:0 !important;
}

h1 {
    color: #4f3c60;
    line-height: 1.5em;
}

h2 {
    color: #323335;
    line-height: 1.4em;
    font-weight: normal;
    padding-top: 1.8vw;
    padding-bottom: 1vw;
    font-size: 18px;
}

#map {
    width: 100%;
    height: 44vh;
}

#table-header {
    position: sticky !important;
    position: -webkit-sticky !important;
    top: -1px;
    z-index: 4200 !important;
    background-color: white;
    border-bottom: solid #a5aab0 0.5px;
}

#clear-search {
    text-decoration: none;
}

#clear-search i {
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.dropdown-item i {
    color: #0F5C52;
}

.select-all-checkbox {
    font-style: italic;
}

.airline-removed i {
    color: #bd7df9;
}


div#airline-labels-for-svg {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

div.tooltip-inner {
    background-color: #f0f0f0;
    opacity: 1;
    font-size: 85%;
    color: #303134;
}

p.tooltip-country {
    font-size: 1em !important;
}

.typeahead {
    font-size: 1em !important;
}

#dropdownMenuButton {
    font-size: 1em !important;
}

.tt-menu {
    display: none !important;
}

.form-control {
    border: none !important;
}

#dropdownMenuButton, #airline-filter, .btn,  .btn-secondary{
    border: none !important;
    color: #73757a;
}

.dropdown-toggle.btn.btn-secondary::after {
    color: #bd7df9;
}

label.dropdown-item {
    white-space: normal;
}

@media (max-width: 575px) {
    label.dropdown-item {
        font-size: 0.8em;
    }
}

#clear-search i {
    font-size: 3vh;
    color: #bd7df9;
    cursor: pointer;
}

.hidden-country {
    display: none;
}

@media (max-width: 575px) {
    div.country-profile-row > div.country-name {
        font-size: 0.85em;
    }
}

@media (max-width: 575px) {
    nav {
        font-size: 0.8em;
    }
}


div.country-profile-row {
    padding-top: 2vh;
    padding-bottom: 1vh;
    padding-left: 2em !important;
    padding-right: 2em !important;
}

div.country-profile-row svg {
    padding-top: 1vh;
    overflow: visible;
    font-size: 90%;
}

.permissions-heading, .treaty-heading {
    padding-top: 2vh;
    padding-bottom: 1.5vh;
    color: #4f3c60;
}

/*div.collapse {*/
    /*padding-left: 3vw !important;*/
    /*padding-right: 3vw !important;*/
    /*padding-bottom: 4vh !important;*/
/*}*/

.card-open {
    border-top: #084a44 solid 0.7px;
    border-right: #084a44 solid 0.7px;
    border-bottom: #084a44 solid 0.7px;
    border-left: #084a44 solid 0.7px;
    padding-top: 2vh;
    padding-bottom: 1vh;
}

.country-name {
    color: #4f3c60;
}

.card-open .country-name {
    font-weight: 600;
}

.treaty-table-col-main {
    border-bottom: #14796c dotted 0.6px;
}

div.treaty-table-col-main {
    padding-top: 3vh;
}

.limit-heading {
    font-weight: normal;
    color: #1d1e1f;
}

.country-routes-diagram p {
    padding-left: 2vh;
}

p.ua-points {
    color: #084a44;
    font-weight: 500;
}

.foreign-points i {
    color: #084a44;
    font-weight: 400;
}

.treaty-table-col-main p {
    font-size: 14px;
}

span.limit-figure {
    color: #084a44;
    font-size: 16px;
    font-weight: 600;
}

.unlimited-limit {
    color: #084a44;
    font-style: italic;
}

.treaty-comment {
    font-size: 0.9em;
    font-style: italic;
    color: #303134;
    padding-bottom: 1em;
}

div.country-total {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

/*SVG styles*/
.country-total text {
    alignment-baseline: hanging;
}

rect.permission {
    stroke: #0F5C52;
    stroke-width: 1.3px;
    fill: none;
}

rect.flight {
    fill: #0F5C52;
    stroke: #0F5C52;
    stroke-width: 1.3px;
}

rect.blank-rect {
    fill: none;
}



/*div.permissions svg {*/
    /*overflow: visible;*/
/*}*/

text.route-header {
    color: #1d1e1f;
    font-size: 47%;
    font-weight: 600;
}

.airlines-axis-y text {
    fill: #4c4d51;
    font-size: 60%;
}

.airlines-axis-y path {
    stroke: none;
}

.frequency-axis-x text {
    fill: #4c4d51;
    font-size: 60%;
}

.frequency-axis-x path, line {
    stroke: #57595c;
    stroke-width: 0.5px;
}

.permission rect.permission {
    stroke: #14796C;
    stroke-width: 1px;
    fill: white;
}

.permission rect.flight {
    fill: #14796C;
    stroke: #14796C;
    stroke-width: 1px;
}

text.flights-per-week-lab {
    fill: #4f3c60;
    font-size: 0.5em;
    font-style: italic;
}

#footer {
    z-index: 4500;
    bottom: 0;
    width: 100%;
    background: #1c2124 none repeat scroll 0 0;
    text-align: left;
    font-size: 14px;
    padding: 1.5em;
    display: block;
    margin-top: 50px;
}

#footer h4 {
    font-size: 18px;
    color: white;

}

#footer a {
    text-decoration: none;
    font-size: 0.7em;
    color: white;
}

#footer a:hover, a.support-site {
    color: #FAA61A !important;
}

.copying-info {
    padding-top: 20px;
    font-size: 0.7em;
    line-height: 15px;
    color: #888c91;
}

#thank-you-d3 {
    padding-top: 20px;
    color: #888c91;
    font-size: 0.7em;
    line-height: 15px;
}

#thank-you-d3 a {
    text-decoration: none;
    color: #888c91;
    font-size: 1em !important;
}

#thank-you-d3 i {
    color: crimson;
}


