body {
    background-color: #e3ddff;
    font-family: Arial;
}

div.cardbox {
    border-color: #a453b0;
    background-color: #ebfff0;
}

div.country-header {
    /*border-bottom: solid #fa978d 0.1px;*/
    background-color: #d3e9ee;
}

.country-header h3 {
    color: #45434d;
    font-size: 14px;
}

div.routeheader, div.limit-header {
    background-color: inherit;
    color: #45434d;
    font-size: 10px;
}


.routepoint svg {
    /*background: #01ff70;*/
    padding-top: 15px;
    padding-bottom: 3px;
    padding-right: 3px;
    overflow: visible;
}

.permission svg {
    overflow: visible;
}

svg text {
    fill: #45434d;
    font-size: 6px;}

path.route-line {
    fill: none;
    stroke: #a453b0;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

g.axis.airlines {
    stroke-width: 0.7;
    stroke: #45434d;
    font-family: Arial;
}

path.wow-mouseover {
    /*stroke: #45434d;*/
    stroke-width: 1px;
}

text.wow-mouseover {
    /*fill: #a964bc;*/
    font-weight: bold;
    /*text-decoration: underline;*/
}

div.limit-figure {
    font-size: 14px;
    color: #a964bc;
}

div.permission {
    color: #45434d;
    font-size: 10px;
    white-space: pre;
}

div.permission line.permission-line {
    stroke: #a453b0;
    stroke-width: 3px;
    stroke-linecap: round;
}

div.permission line.flight-line {
    stroke: #2f8b3c;
    stroke-width: 3px;
    stroke-linecap: round;
}

text.freq-label {
    fill: #45434d;
    font-size: 5px;
}

div#tooltip-bar.hidden {
    display: none;
}

div#tooltip-bar {

    position: absolute;
    width: 15px;
    height: auto;
    padding: 4px;
    background-color: #faebeb;
    opacity: 0.5;
    pointer-events: none;
}

div#tooltip-bar p {
    font-size: 4px;
    color: #1d1e1f;
}